*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.common-btn{
    background-color: #1D4ED8;
    height: 50px;
    width: 200px;
    color: white;
    border-radius: 12px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}
.common-heading-h2{
    font-weight: bold;
    font-size: 38px;
}
/* Navbar Style */
nav{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 70px;
    padding: 20px 0 16px 140px;

}
ul li{
    list-style: none;
    display: flex;
    gap: 15px;
    padding-top: 16px;
}
ul li a{
    text-decoration: none;
    text-align: center;
    color: #575757;
    font-weight: 600;

} 
ul li a:hover{
    color: rgb(36, 14, 235);
}
ul li{

}
/* Banner Section Style */
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./assets/banner.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.h-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    gap: 20px;
    text-align: center;
    max-width: 750px; 
    margin: 0 auto;
    padding: 0 15px;

}
.h-content h1{
    font-weight: bold;
    font-size: 70px;
}
.h-content p{
    font-weight: 700;
    font-size: 20px;
    color: #afabab;
}
.h-button button{ 
    margin-top: 230px;
}
/* Speaker Section Style */
.s-top .common-heading-h2{
    text-align: center;
    padding-top: 5%;
}
.speaker-card-top{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 6%;
     margin-bottom: 0 !important;
}
.speaker-card-bottom{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 6%;
     margin-bottom: 0 !important;
}
.speaker-card small{
    color: #2563EB;
    font-size: 10px;
    font-weight: 500;
    padding: 10px;
}
.speaker-card h3{
    font-weight: bold;
    font-size: 23px;
    padding: 10px;
}
.speaker-card p{
    font-weight: 300;
    font-size: 13px;
    color: #575757;
    padding: 10px;
}
.speaker-card-top .common-div, .speaker-card-bottom .common-div {
    max-width: 80%;
    margin: 0 auto;
    padding: 10px;
}
.speaker-card-top .common-div img, .speaker-card-bottom .common-div img {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 10px auto;
}
